<!DOCTYPE html> 		
<html lang="es">
<head>	
<meta charset="utf-8">
	
<title> </title> 	
	
</head> 	
<body>	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2" class="pull-left">
			<!--Aca va la barra de las categorias, cada categoria es un enlace,-->
			<h2>Categorias</h2>
			<ul >
				<% Categoria.all.each do |cat| %>
				<li>
				<h4>
					<%=link_to cat.nombre,productos_path(categoria: cat.id) %>
				</h4>				
				</li>
             <%end%>
			</ul>
		</div>
		<!-- aca comienza la otra columna donde iran los productos-->
		<div class="col-md-10 column">
		<div class="row">  
				<% @producto_a.all.each do |producto| %>
				<div class="col-md-5">
					<div class="thumbnail">
							<a href=""><img alt="300x300" src="http://lorempixel.com/500/500/animals/" class="img-rounded"></a>
							<div class="caption">
							<h3>
								<%=link_to producto.nombre, producto %>
							</h3>
							<p> 
								<%= truncate(producto.descripcion, length: 50)%>
							</p>
							<p>
								<div type="button" class="btn btn-danger" href ="show_producto_path(@producto) ">Ver</div>
								 <div type="button" class="btn" href ="show_producto_path(@producto) ">Preguntar</div>
								
							</p>
						</div>
					</div>
				</div>
			<% end %>
			</div>
		</div>
	</div>
</div>
</body> 	
</html>