<!DOCTYPE html> 		
<html lang="es">
<head>	
<meta charset="utf-8">
	
<title> </title> 	
	
</head> 	
<body>	
<div class="container-fluid">
	<div class="row clearfix">
		<div class="col-md-1 ">
			<!--Aca va la barra de las categorias, cada categoria es un enlace,-->
			<ul>
				<li>
					categoria 1
				</li>
				<li>
					categoria 2
				</li>
				<li>
					categoria 3
				</li>
				<li>
					categoria 4
				</li>
				<li>
					categoria 5
				</li>
				<li>
					categoria 6
				</li>
			</ul>
		</div>
		<!-- aca comienza la otra columna donde iran los productos-->
		<div class="col-md-11 column">
		<div class="row">
				<% Producto.all.each do |producto| %>
				<div class="col-md-6">
					<div class="thumbnail">
							<img alt="300x300" src="http://lorempixel.com/500/500/animals/" class="img-rounded">
							<div class="caption">
							<h3>
								<%=link_to producto.nombre, producto %>
							</h3>
							<p> 
								<%=producto.descripcion%>
							</p>
							<p>
								<div class="btn btn-danger"> <%= link_to "Ver",producto_path(producto) %> </div> 
								<a class="btn" href="#">Preguntar</a>
							</p>
						</div>
					</div>
				</div>
			<% end %>
			</div>
		</div>
	</div>
</div>
</body> 	
</html>