<!DOCTYPE html> 	
<html>	
	
<head>	
	
	
<title> </title> 	
	
</head> 	
<body>	
<div class="container">
	<div class="row clearfix">
		<div class="col-md-1 column">
			<!--Aca va la barra de las categorias, cada categoria es un panel,-->
			<div class="panel-group" id="panel-301247">
				<div class="panel panel-default">
					<div class="panel-heading">
						<!--aca va el nombre de la categoria-->
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-301247" href="#panel-element-782153">
						 	<%= Producto.find(1).nombre %> </a>
					</div>
					<!-- aca van todas las subcategorias-->
					<div id="panel-element-782153" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-301247" href="#panel-element-315852">Collapsible Group Item #2</a>
					</div>
					<div id="panel-element-315852" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- aca comienza la otra columna donde iran los productos-->
		<div class="col-md-11 column">
		<div class="row">
				<% Producto.all.each do |producto| %>
				<div class="col-md-5">
					<div class="thumbnail">
							<img alt="300x300" src="http://lorempixel.com/600/600/people"/>
							<div class="caption">
							<h3>
								<%=link_to producto.nombre, producto %>
							</h3>
							<p> 
								<%=producto.descripcion%>
							</p>
							<p>
								<div class="btn btn-primary"> <%= link_to "Ver",producto_path(producto) %> </div> 
								<a class="btn" href="#">Preguntar</a>
							</p>
						</div>
					</div>
				</div>
			<% end %>
			</div>
		</div>
	</div>
</div>
</body> 	
</html>