<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' hhttp-equiv='Content-Type' />
	</head>
	<body>
		<h1> Bienvenido a Bestnid, <%= @user.nombre + " " + @user.apellido %> 
		</h1>
		<p>
			Se ha registrado correctamente.
		</p>
		<p>
			Visitenos en: <a href="<%= @url %>">Bestnid-grupo2.herokuapp.com</a>
		</p>
		<p>
			Saludos!
		</p>
	</body>
</html>