<h1>Usuarios#edit</h1>
<p>Find me in app/views/usuarios/edit.html.erb</p>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column">
			<ul>
				<li>
					<%= link_to "inicio", productos %>
				</li>
				<li>
					Consectetur adipiscing elit
				</li>
				<li>
					Integer molestie lorem at massa
				</li>
				<li>
					Facilisis in pretium nisl aliquet
				</li>
				<li>
					Nulla volutpat aliquam velit
				</li>
				<li>
					Faucibus porta lacus fringilla vel
				</li>
				<li>
					Aenean sit amet erat nunc
				</li>
				<li>
					Eget porttitor lorem
				</li>
			</ul>
		</div>
		<div class="col-md-10 column">
			<div class="row clearfix">
				<div class="col-md-4 column">
					<img alt="140x140" src="http://lorempixel.com/140/140/" class="img-rounded" />
				</div>
				<div class="col-md-8 column">
					<div class="row clearfix">
						<div class="col-md-12 column">
							<h3 class="text-center">
								<%= @usuario.nombre + " " + @usuario.apellido %>
							</h3>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-10 column">
							<ul>
								<li>
									<%= "Email: " + @usuario.email %>
								</li>
								<li>
									<%= "Telefono: " + @usuario.telefono %>
								</li>
								<li>
									Integer molestie lorem at massa
								</li>
								<li>
									Facilisis in pretium nisl aliquet
								</li>
								<li>
									Nulla volutpat aliquam velit
								</li>
								<li>
									Faucibus porta lacus fringilla vel
								</li>
								<li>
									Aenean sit amet erat nunc
								</li>
								<li>
									Eget porttitor lorem
								</li>
							</ul>
						</div>
						<div class="col-md-2 column">
						</div>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="tabbable" id="tabs-569375">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#panel-87367" data-toggle="tab">Section 1</a>
							</li>
							<li>
								<a href="#panel-425311" data-toggle="tab">Section 2</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="panel-87367">
								<p>
									I'm in Section 1.
								</p>
							</div>
							<div class="tab-pane" id="panel-425311">
								<p>
									Howdy, I'm in Section 2.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>